<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripplanner">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Trip Planner"
        android:theme="@style/Theme.TripPlanner"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.RouteActivity"/>
        <activity android:name=".ui.ExpenseActivity"/>
        <activity android:name=".ui.AddTripActivity"/>
    </application>

</manifest>
